/include/ "system-conf.dtsi"
/ {
};


&axi_gpio_0 {
	    compatible = "generic-uio";
	}; 
&axi_gpio_1 {
	    compatible = "generic-uio";
	}; 

&axi_quad_spi_0 {
    status = "okay";
    clock-names = "axi_clk", "axi4_clk", "spi_clk";
    clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>; 
    spi0_dev_0@0 {
        compatible = "spidev";
        reg = <0>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
 
    spi0_dev_1@1 {
        compatible = "spidev";
        reg = <1>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
    spi0_dev_2@2 {
        compatible = "spidev";
        reg = <2>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
    spi0_dev_3@3 {
        compatible = "spidev";
        reg = <3>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };        
}; 
 
&axi_quad_spi_1 {
    status = "okay";
    clock-names = "axi_clk", "axi4_clk", "spi_clk";
    clocks = <&clkc 15>, <&clkc 15>, <&clkc 15>; 
    spi1_dev_0@0 {
        compatible = "spidev";
        reg = <0>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    };
    
    spi1_dev_1@1 {
        compatible = "spidev";
        reg = <1>;
        spi-max-frequency = <500000>;
        #address-cells = <1>;
        #size-cells = <1>;
    }; 
}; 

